In [5]:
from matplotlib.colors import ListedColormap

from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import statsmodels.formula.api as smf

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp

%matplotlib inline
# Make it pretty
plt.style.use('fivethirtyeight')
plt.rc("figure", figsize=(16, 8))
plt.rc("font", size=14)

In [6]:
comp = pd.read_csv('men_main_21.1.csv', na_values=['?'])
comp.head()

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,first_name,lastname,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,Unnamed: 18
0,0,JEFFRE,ADLER,1,Canada,North America,Age 27,CrossFit Wonderland,69 in | 197 lb,101.0,20th (11:55),605 reps,8th (9:14),225 reps,27th (8:15),180 reps,46th (317 lbs),Weight lifted: 317 lbs.,NaN
1,1,SCOTT,PANCHIK,2,United States,North America,Age 33,CrossFit Mentality,69 in | 187 lb,141.0,33rd (12:25),605 reps,47th (9:52),225 reps,5th (7:48),180 reps,56th (316 lbs),Weight lifted: 316 lbs.,NaN
2,2,TRAVIS,MEAD,3,United States,North America,Age 34,Iron Valley CrossFit,73 in | 205 lb,165.0,87th (13:02),605 reps,24th (9:38),225 reps,48th (8:26),180 reps,6th (345 lbs),Weight lifted: 345 lbs.,NaN
3,3,SAXON,PANCHIK,4,United States,North America,Age 25,CrossFit Cliffside,69 in | 180 lb,217.0,5th (11:25),605 reps,68th (9:59),225 reps,87th (8:41),180 reps,57th (316 lbs),Weight lifted: 316 lbs.,NaN
4,4,RICHARD,FRONING JR.,5,United States,North America,Age 33,CrossFit Mayhem,69 in | 194 lb,254.0,58th (12:45),605 reps,91st (10:04),225 reps,5th (7:48),180 reps,100th (312 lbs),Weight lifted: 312 lbs.,NaN

In [7]:
comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137464 entries, 0 to 137463
Data columns (total 19 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         137464 non-null  int64
 1   first_name         137463 non-null  object
 2   lastname           137456 non-null  object
 3   Placing            137464 non-null  object
 4   country            137464 non-null  object
 5   continent          137464 non-null  object
 6   Age                137464 non-null  object
 7   affiliate          112681 non-null  object
 8   Height and Weight  87327 non-null   object
 9   points             137463 non-null  float64
 10  21.1               137464 non-null  object
 11  21.1 time          8238 non-null    object
 12  21.2               137462 non-null  object
 13  21.2 time          65789 non-null   object
 14  21.3               137461 non-null  object
 15  21.3 time          15202 non-null   object
 16  21.4               137461 non-null  object
 17  weight             100594 non-null  object
 18  Unnamed: 18        3 non-null       object
dtypes: float64(1), int64(1), object(17)
memory usage: 19.9+ MB

In [9]:
compHW = comp[['lastname','Placing','Age','Height and Weight']]

In [10]:
compHW

           lastname Placing     Age Height and Weight
0             ADLER       1  Age 27    69 in | 197 lb
1           PANCHIK       2  Age 33    69 in | 187 lb
2              MEAD       3  Age 34    73 in | 205 lb
3           PANCHIK       4  Age 25    69 in | 180 lb
4       FRONING JR.       5  Age 33    69 in | 194 lb
...             ...     ...     ...               ...
137459       NORTON  137351  Age 31               NaN
137460      DOUGHTY  137351  Age 32               NaN
137461         ROTT  137351  Age 46               NaN
137462     RICHARDS  137351  Age 39    76 in | 205 lb
137463    WEINSTEIN  137351  Age 51               NaN

[137464 rows x 4 columns]